/* Estilos para la página entera */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
}

/* Estilos para el contenido de la página */
.contenedorGeneral {
    display: flex;
    height: 100vh;
}

/* Estilo para el logo de PlayFit */
.logo {
    width: 170px;
    margin-bottom: 30px;
}

/* Estilos para el sidebar, nav en la parte izq */
.sidebar {
    width: 220px;
    background-color: #1A237E;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 30px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilo para el Contenido de la página */
.contenidoPrincipal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Estilo para el formulário */
.formularioCrearEjercicio {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.formularioCrearEjercicio h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.formularioCrearEjercicio label {
    font-weight: bold;
    color: #555;
}

.formularioCrearEjercicio input[type="text"],
input[type="descripcion"],
input[type="number"],
input[type="url"] {

    width: 100%;
    padding: 10px 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
}

.formularioCrearEjercicio button {
    width: 100%;
    padding: 12px;
    background-color: #1A237E;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formularioCrearEjercicio button:hover {
    background-color: #5153f7;
}

.formularioCrearEjercicio p {
    text-align: center;
    margin-top: 20px;
}

.formularioCrearEjercicio a {
    color: #1A237E;
    text-decoration: none;
    font-weight: bold;
}
.footer {
  text-align: center;
  padding: 15px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
}