* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA;
}

.contenedorGeneral {
    display: flex;
    height: 100vh;
}

.logo {
    width: 170px;
    margin-bottom: 30px;
}

.sidebar {
    width: 220px;
    background-color: #1A237E;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.sidebar nav ul {   
    list-style: none;
}

.sidebar nav ul li {
    margin: 30px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contenidoPrincipal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.formularioModificar {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.formularioModificar h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.formularioModificar label {
    font-weight: bold;
    color: #555;
}

.formularioModificar input[type="text"] {
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
}

.formularioModificar button {
    width: 100%;
    padding: 12px;
    background-color:#1A237E;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formularioModificar button:hover {
    background-color: #5153f7;
}

.formularioModificar p {
    text-align: center;
    margin-top: 20px;
}

.formularioModificar a {
    color: #1A237E;
    text-decoration: none;
    font-weight: bold;
}
